# Clean the downloaded Data
The species names from GBIF where not super clean

In [2]:
import pandas as pd

In [31]:
data = pd.read_csv("MammalsOfGermany.csv")
data.head()

,order,family,scientificName,vernacularName
0,Afrosoricida,Tenrecidae,"Echinops telfairi Martin, 1838",NaN
1,Afrosoricida,Tenrecidae,"Tenrec ecaudatus (Schreber, 1778)",NaN
2,Artiodactyla,Anoplotheriidae,"Anoplotherium Cuvier, 1804",NaN
3,Artiodactyla,Anoplotheriidae,"Dacrytherium ovinum (Owen, 1857)",NaN
4,Artiodactyla,Anoplotheriidae,"Diplobune Rütimeyer, 1862",NaN

In [32]:
data["scientificGenus"] = data["scientificName"].str.split().str[0]
data["scientificSpecies"] = data["scientificName"].str.split().str[1]
data["scientificSpecies"] = data["scientificSpecies"].str.strip(',')
data["scientificName"] = data["scientificGenus"] + " " + data["scientificSpecies"]
data.head()

,order,family,scientificName,vernacularName,scientificGenus,scientificSpecies
0,Afrosoricida,Tenrecidae,Echinops telfairi,NaN,Echinops,telfairi
1,Afrosoricida,Tenrecidae,Tenrec ecaudatus,NaN,Tenrec,ecaudatus
2,Artiodactyla,Anoplotheriidae,Anoplotherium Cuvier,NaN,Anoplotherium,Cuvier
3,Artiodactyla,Anoplotheriidae,Dacrytherium ovinum,NaN,Dacrytherium,ovinum
4,Artiodactyla,Anoplotheriidae,Diplobune Rütimeyer,NaN,Diplobune,Rütimeyer

In [ ]:
data = data.drop(["scientificGenus", "scientificSpecies"], axis=1)

In [37]:

data = (
    data.groupby(['order', 'family', 'scientificName'], as_index=False)
        .agg({'vernacularName': lambda x: ', '.join(sorted(set(x.dropna())))})
)
data.head()
len(data)

1053